<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetravalstartups.oranzebird">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Oranzebird">
        <activity
            android:name=".common.FruitDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modules.CartActivity" />
        <activity
            android:name=".common.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".auth.OtpActivity" />
        <activity android:name=".auth.PhoneActivity" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".auth.LogInActivity" />
        <activity android:name=".common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <allCategoryData android:name="android.intent.allCategoryData.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>